
<div id='pngs'>
  <div id='cpngs'>
    <img id='base_png' src="<%= App.apiHost + doc.image_url %>">
    <div id="saved_png">
    <% $.each(doc.history_pngs, function(i, v) { %> 
      <img src="<%= App.apiHost + v.replace('public','') %>" />
    <% });%>
    </div>
  </div>
</div>
<div id='tools'>
  <div class='section' id='presenter'>
    主讲人
    <div class='user'></div>
  </div>
  <div class='presenting'>
    <div class='small_btn' id='start_present'>开启共享</div>
    <% if (!isHost) { %>
      <div class='small_btn' id='apply_present'>申请演示</div>
      <div class='small_btn' id='exit_present'>退出演示</div>
    <% } %>
    <div class='btn' id='begin_hammer'>手势</div>
    <div class='btn' id='toggleTool'>画笔</div>
    <div class='btn' id='delete_history'>清除批注</div>
    <div class='btn' id='change_document'>切换文件</div>
    <div class='btn' id='change_presenter'>切换主讲人</div>
    <div class='draw_style'></div>
  </div>
</div>
<div id='buttons'>
  <button id='prev'>前一页</button>
  <button id='page_no'>Page 1</button>
  <button id='next'>下一页</button>
</div>
